<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<body th:align="center">
<h1>게시글 상세</h1>


<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
    <tr>
        <td bgcolor="orange" th:text="제목" width="80"></th>
        <!--
            [서버]에서 java의 데이터를 [클라이언트]html문서에 값을 할당해주는 문법${title}
        -->
        <th><input name="title" type="text" th:value="${title}"></th>
    </tr>
    <tr>
        <td bgcolor="orange" th:text="작성자"></th>
        <td th:text="${writer}"></td>
    </tr>
    <tr>
        <td bgcolor="orange" th:text="내용"></td>
        <td><textarea name="content" th:text="${content}" cols="40" rows="10"></textarea></td>
    </tr>
    <tr>
        <td bgcolor="orange" th:text="등록일"></td>
        <td th:text="${createDate}"></td>
    </tr>
    <tr>
        <td bgcolor="orange" th:text="조회수"></td>
        <td th:text="${cnt}"></td>
    </tr>
</table>
<a th:href="@{/getBoardList}">글목록</a>
</body>
</html>