<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>(일반) 회원가입</title>
</head>
<body>
<div>회원 가입</div>
<form>
    <div><p>아이디</p>
        <input type="text" placeholder="@naver.com">
    </div>
    <div><p>비밀번호</p>
        <input type="text">
    </div>
    <div><p>비밀번호 재확인</p>
        <input type="text">
    </div>
    <div><p>이름</p>
        <input type="text">
    </div>
    <div>
        <p>생년월일</p>
        <input type="text" placeholder="생년월일">
        <!--        <input type="text" placeholder="년(4자)"><select name="" id="">-->
        <!--        <optionT value="1"></option>-->
        <!--        <optionT value="2"></option>-->
        <!--        <optionT value="3"></option>-->
        <!--        <optionT value="4"></option>-->
        <!--        <optionT value="5"></option>-->
        <!--        <optionT value="6"></option>-->
        <!--        <optionT value="7"></option>-->
        <!--        <optionT value="8"></option>-->
        <!--        <optionT value="9"></option>-->
        <!--        <optionT value="10"></option>-->
        <!--        <optionT value="11"></option>-->
        <!--        <optionT value="12"></option>-->
        <!--        <optionT value="13"></option>-->
        <!--        </select><input type="text" placeholder="일">-->
    </div>
    <div><p>성별</p>
        <input type="text" placeholder="성별">
    </div>
    <div><p>본인 확인 이메일(선택)</p>
        <input type="text" placeholder="선택입력">
    </div>
    <div><p>휴대전화</p>
        <input type="text">
    </div>

    <div></div>
</form>

</body>
</html>